BASE_URL_DEV=
BASE_URL_PROD=

NEXT_PUBLIC_MERCHANT_ID=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_SERVER_KEY=
NEXT_PUBLIC_MIDTRANS_PRODUCTION=
NEXT_PUBLIC_MIDTRANS_SNAP_URL=

DATABASE_URL=
DIRECT_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
AUTH_SECRET=